@keyframes sky {
    0% {
        background: skyblue;
        box-shadow: 0 -400px 300px -300px steelblue inset;
    }
    33% {
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px orangered inset;
    }
    66% {
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px transparent inset;
    }
    100% {
        background: skyblue;
        box-shadow: 0 -400px 300px -300px steelblue inset;
    }
}

@keyframes sun {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes sun-wrapper {
    0% {
        transform: rotate(0deg);
    }
    33% {
        transform: rotate(90deg);
    }
    66% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes ship {
    0% {
        transform: translateX(200%);
    }
    75%, 100% {
        transform: translateX(-500%);
    }
}

@keyframes smoke-1 {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateY(-300%) scale(2);
        opacity: 0;
    }
}
@keyframes smoke-2 {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateY(-200%) scale(2);
        opacity: 0;
    }
}
@keyframes smoke-3 {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateY(-100%) scale(2);
        opacity: 0;
    }
}